:root {
    --text-color--: #a6a6a6;
    --right-bg-color--: #1f1f1f;
    --left-bg-color--: #1a1a1a;
    --library-bg-color--: #242424;
    --white-color--: #ffffff;
    --havor-color--: #2e2e2e;
    --play-button-color--: #1fdf64;

}

body {
    font-family: Arial, Helvetica, sans-serif
}

/* .nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
} */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.left-navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.logo {
    width: 30px;
}

.icon {
    width: 24px;
    border-radius: 50%;
    padding: 8px;
    background-color: var(--right-bg-color--);
}

.icon:hover {
    font: "Home";
    padding: 9px;
}

.icon a {
    text-decoration: none;
}

.icon a:hover {
    color: var(--text-color--);

}

.center-navbar {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.center-navbar a {
    text-decoration: none;
    color: var(--text-color--);
    font-weight: 700;
}

.center-navbar a:hover {
    color: var(--white-color--);
    font-size: 17px;
}

.divider {
    color: var(--white-color--);
}

.right-navbar {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 25px;
    flex-wrap: wrap;
}

.right-navbar a {
    text-decoration: none;
    color: var(--text-color--);
    font-weight: 700;
    font-size: 14px;
}

.right-navbar a:hover {
    color: var(--white-color--);
    font-size: 15px;
}

.login-btn {
    background-color: var(--white-color--);
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: 700;
}

.login-btn:hover {
    font-size: 15px;
}


/* .logo {
    margin-right: 20px;
    margin-left: 20px;
} */

/* .home {
    width: 24px;
    background-color: #1f1f1fe3;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
} */

/* .search-icon {
    width: 24px;
    margin-right: 20px;
} */

/* .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 50px;
} */


/* .tabs .list-items {
    display: flex;
    gap: 10px;
    color: var(--text-color--);
    font-weight: 700;
}

.registration {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--text-color--);
    font-size: 14px;
    font-weight: 700;
}

.login-btn {
    background-color: white;
    border-radius: 30px;
    padding: 15px 30px;
} */

.main {
    display: flex;
}

.left-container {
    width: 30vw;
    background-color: var(--left-bg-color--);
    border-radius: 10px;
    margin: 3px;
}

.library {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.library h4 {
    color: var(--white-color--);
}

.plus {
    font-size: 30px;
    color: var(--text-color--);
}

.scroll {
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox*/
}

/* .scroll::-webkit-scrollbar {
    width: 8px;
    background: transparent;
} */

.scroll:hover::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.1); /* optional background for scrollbar track */
}

/* .scroll::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
} */

/* .scroll:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4); 
} */

.playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white-color--);
    background-color: var(--library-bg-color--);
    margin: 10px;
    border-radius: 7px;
    padding: 20px;
}


.btn {
    width: auto;
    max-width: 38%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--white-color--);
    border-radius: 20px;
    border-style: none;
    font-weight: 700;
}

#para {
    font-size: 12px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    color: var(--white-color--);
    padding: 20px;
    gap: 15px;
}

.footer-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    font-size: 12px;
    color: var(--text-color--);
}

.footer-links a:hover {
    text-decoration: underline;
    color: var(--white-color--);
}

.cookies a {
    color: var(--white-color--);
}

.english-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--white-color--);
    border-radius: 20px;
    padding: 5px 15px;
    width: auto;
    max-width: 25%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.english-btn .world-img {
    width: 18px;
    display: flex;
}

.english-btn div {
    color: var(--white-color--);
    font-size: 14px;
    font-weight: 700;
}

.right-container {
    width: 70vw;
    background-color: var(--right-bg-color--);
    border-radius: 10px;
    margin: 3px;
    max-height: 90vh;
    overflow: scroll;
    position: relative;
}

.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.right-header h5 {
    font-size: 13px;
    color: var(--text-color--);
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.card {
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.card:hover {
    background: linear-gradient(to bottom, var(--right-bg-color--), var(--havor-color--));
    border-radius: 10px;
    opacity: 1;
}

.card>* {
    margin-top: 10px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.play-button {
    width: 30px;
    background-color: var(--play-button-color--);
    border-radius: 30px;
    display: flex;
    padding: 6px;
    position: absolute;
    bottom: 72px;
    right: 21px;
    opacity: 0;
    transition: all 1s ease-in;
}

.card h4 {
    color: var(--white-color--);
    cursor: pointer;
}

.card h4:hover {
    text-decoration: underline;
}

.card p a {
    font-size: 14px;
    color: var(--text-color--);
    text-decoration: none;
}

.card p a:hover {
    text-decoration: underline;
}

.artist-container {
    margin: 20px 0px;
}

.playbar-container{
    width: 100%;
    background-color: #1fdf64;
    padding: 12px;
    position: fixed;
    opacity: 0.5;
    bottom: 20px;
    right: center;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.right-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 20px;
    gap: 20px;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.company a {
    text-decoration: none;
    color: var(--text-color--);
    font-size: 15px;
}

.company a:hover {
    color: var(--white-color--);
    text-decoration: underline;
}